
<div id="login" layout="row" layout-align="center center">
    <div class="login-container">
        <md-content md-theme="docs-dark" layout-padding layout="column" layout-sm="column">
            <md-input-container>
                <label>Title</label>
                <input ng-model="vm.action">
            </md-input-container>

            <md-input-container>
                <label>Email</label>
                <input ng-model="user.email" type="email">
            </md-input-container>
        </md-content>
    </div>
</div>
