<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <div ng-controller="MainController">
        <p>Welcome {{name}}</p>
    </div>
<script src="bundle.js" type="application/javascript"></script>
</body>
</html>
