<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='css/bundle.css'/>
    <link rel="stylesheet" href="vendor/css/angular-material.layouts.min.css" />
    <link rel="stylesheet" href="vendor/css/angular-material.min.css" />
</head>
<body>
    <div id="layout" ui-view></div>
<script src="vendor/js/angular.min.js"></script>
<script src="bundle.js" type="application/javascript"></script>
</body>
</html>
