<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='css/bundle.css'/>
</head>
<body>
    <div ui-view></div>
<script src="bundle.js" type="application/javascript"></script>
</body>
</html>
